<div Class="login-box">
    <h2>¡Hola {{nombre}}!</h2>
    <form action="terapias" method="post" id="formCrearServicio" onsubmit="submitServ(event)">
        <div class=" user-box">
            <input type="date" name="fecha" required="" class="fechainput" id="fecha">
            <label class="input">Fecha</label>

        </div>
        <div class="user-box">
            <input type="number" name="comanda" required="">
            <label>Comanda</label>
        </div>
        <div class="user-box" id="inputSelect">
            <select name="terapias" id="terapias">
                <option id="seleccion">Seleccione terapia</option>
                                    <option value="Masaje de Relajación de 30 min" id="mas30">Masaje de Relajación de 30 min</option>
                                    <option value="Masaje de Relajación de 40 min" id="mas40">Masaje de Relajación de 40 min</option>
                                    <option value="Masaje de Relajación de 60 min" id="mas60">Masaje de Relajación de 60 min</option>
                                    <option value="Masaje del Bosque de 30 min" id="bosq30">Masaje del Bosque de 30 min</option>
                                    <option value="Masaje del Bosque de 40 min" id="bosq40">Masaje del Bosque de 40 min</option>
                                    <option value="Masaje del Bosque de 60 min" id="bosq60">Masaje del Bosque de 60 min</option>
                                    <option value="Masaje Descontracturante de 30 min" id="desc30">Masaje Descontracturante de 30 min</option>
                                    <option value="Masaje Descontracturante de 40 min" id="desc40">Masaje Descontracturante de 40 min</option>
                                    <option value="Masaje Descontracturante de 60 min" id="desc60">Masaje Descontracturante de 60 min</option>
                                    <option value="Drenaje Linfatico localizado" id="drenloc">Drenaje Linfatico localizado</option>
                                    <option value="Drenaje linfatico completo" id="drencom">Drenaje linfatico completo</option>
                                    <option value="Masaje para Embarazada" id="emba">Masaje para Embarazada</option>
                                    <option value="Reflexología podal de 40 min" id="refl40">Reflexología podal de 40 min</option>
                                    <option value="Piedras Calientes de 60 min" id="pied60">Piedras Calientes de 60 min</option>
                                    <option value="Masaje Ayurvedico de 50 min" id="ayur50">Masaje Ayurvedico de 50 min</option>
                                    <option value="Olivoterapia de 90 min" id="olivo">Olivoterapia de 90 min</option>
                                    <option value="Chocolaterapia de 90 min" id="choco">Chocolaterapia de 90 min</option>
                                    <option value="Exfoliación corporal de 30 min" id="exfo30">Exfoliación corporal de 30 min</option>
                                    <option value="Envoltura de Chocolate" id="envchoc">Envoltura de Chocolate </option>
                                    <option value="Day Use" id="dayuse">Day Use</option>
            </select>
            {{!-- <label>Terapia</label> --}}
        </div>
        <button class="botonEnviar" type="submit">
            <a >
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Enviar
            </a>
        </button>
        <button id="volver" class="botonEnviar" type="button" >
            <a href="/home">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Volver
            </a>
        </button>
    </form>
</div>