<div Class="login-box">
    <h2>¡Hola {{nombre}}!</h2>
    <form action="terapias" method="post">
        <div class=" user-box">
            <input type="date" name="fecha" required="" class="fechainput" id="fecha">
            <label class="input">Fecha</label>

        </div>
        <div class="user-box">
            <input type="number" name="comanda" required="">
            <label>Comanda</label>
        </div>
        {{!-- Crear vista, para que se vean las ultimas comandas ingresadas, además de botón de reporte y el de ingresar horas. --}}
        <div class="user-box" id="inputSelect">
            <select name="terapias" id="terapias">
                <option id="seleccion">Seleccione terapia</option>
                <option value="6500" id="mas30">Masaje de Relajación de 30 min</option>
                <option value="7500" id="mas40">Masaje de Relajación de 40 min</option>
                <option value="8500" id="mas60">Masaje de Relajación de 60 min</option>
                <option value="7500" id="bosq30">Masaje del Bosque de 30 min</option>
                <option value="9000" id="bosq40">Masaje del Bosque de 40 min</option>
                <option value="10000" id="bosq60">Masaje del Bosque de 60 min</option>
                <option value="7500" id="desc30">Masaje Descontracturante de 30 min</option>
                <option value="9000" id="desc40">Masaje Descontracturante de 40 min</option>
                <option value="12000" id="desc60">Masaje Descontracturante de 60 min</option>
                <option value="9000" id="drenloc">Drenaje Linfatico localizado</option>
                <option value="10000" id="drencom">Drenaje linfatico completo</option>
                <option value="9000" id="emba">Masaje para Embarazada</option>
                <option value="9000" id="refl40">Reflexología podal de 40 min</option>
                <option value="12000" id="pied60">Piedras Calientes de 60 min</option>
                <option value="12000" id="ayur50">Masaje Ayurvedico de 50 min</option>
                <option value="12000" id="olivo">Olivoterapia de 90 min</option>
                <option value="15000" id="choco">Chocolaterapia de 90 min</option>
                <option value="7500" id="exfo30">Exfoliación corporal de 30 min</option>
                <option value="10000" id="envchoc">Envoltura de Chocolate </option>
                <option value="19500" id="dayuse">Day Use</option>
            </select>
            {{!-- <label>Terapia</label> --}}
        </div>
        <button class="botonEnviar" type="submit">
            <a >
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Enviar
            </a>
        </button>
    </form>
</div>