<head>
    
    <link rel="stylesheet" href=".\src\css\home.css">
</head>

{{#> plantillaExterna}}
<main>
    <div class="container">
        <div class="row g-3">

            <div class="col-6">
                <!--cambiar el login a login/terapeuta para comprobación-->
                <a href="/usuarios"> 
                    <button class="btn">
                        <div Class="login-box">
                            <h2>Terapeutas</h2>
                        </div>
                </a>
                </button>
            </div>


            <div class="col-6">
                <!--cambiar el login a login/admin para comprobación-->
                <a href="/reportes">
                <button class="btn">
                    <div Class="login-box">
                        <h2>Reportes</h2>
                    </div>
                </button>
                </a>
            </div>


            <div class="col-6">
                <a href="/manualrecep">
                <button class="btn">
                    <div Class="login-box">
                        <h2>Recepción</h2>
                    </div>
                </button>
                </a>
            </div>


            <div class="col-6 ">
                <a href="/manualterap">
                <button class="btn">
                    <div Class="login-box">
                        <h2>Manuales</h2>
                    </div>
                </button>
                </a>
            </div>



        </div>

    </div>
</main>

{{/plantillaExterna}}