<head>
    {{> head}}
    
    <link rel="stylesheet" href=".\src\css\formulario.css">
</head>
<body>
        
       
            {{> card}}
        
        
        
    </body>

    
    
    <script src=".\src\js\formulario.js"></script>