<head>
    {{> head}}
    <link rel="stylesheet" href=".\src\css\formulario.css">
    <script src="/api/apiTerapias.js"></script>
</head>

<body>
    {{> header}}

    {{> card}}

    {{> footer}}
</body>


<script src=".\src\js\formulario.js"></script>