<head>
    
    <link rel="stylesheet" href=".\src\css\home.css">
</head>

{{#> plantillaExterna}}
<main>
    <div class="container">
        <div class="row g-3">

            <div class="col-6">
                <!--cambiar el login a login/admin para comprobación-->
                <a href="/reportefecha"> 
                    <button class="btn">
                        <div Class="login-box">
                            <h2>crear Usuario</h2>
                        </div>
                </a>
                </button>
            </div>


            <div class="col-6">
                <!--cambiar el login a login/admin para comprobación-->
                <a href="/reportesfinal">
                <button class="btn">
                    <div Class="login-box">
                        <h2>modificar Usuario</h2>
                    </div>
                </button>
                </a>
            </div>


            <div class="col-6">
                <a href="/mantenedor">
                <button class="btn">
                    <div Class="login-box">
                        <h2>Modificar BD</h2>
                    </div>
                </button>
                </a>
            </div>


            <div class="col-6 ">
                <a href="/manualusuario">
                <button class="btn">
                    <div Class="login-box">
                        <h2>Modificar Horas</h2>
                    </div>
                </button>
                </a>
            </div>



        </div>

    </div>
</main>

{{/plantillaExterna}}